<div class="page-header">
  <h1>Bonuses
    <% if maybe_admin? %>
      <a href="/bonuses/new" class="btn btn-default pull-right"><%= plus %> add bonus</a>
    <% end %>
</h1>
</div>
<div class="row">
  <table>
    <tr>
      <th>Date</th>
      <th>Points</th>
      <th>User</th>
      <th>Notes</th>
      <% if maybe_admin? %><th></th><% end %>
    </tr>
    <% @bonuses.each do |x| %>
      <tr class="<%= ((x.id == params[:highlight].to_i) ? 'alert alert-success' : '') %>">
        <td><%= x.date %></td>
        <td><%= x.points %></td>
        <td><%= link_to(x.user) %></td>
        <td><%= x.notes %></td>
        <% if maybe_admin? %>
          <td class="pull-right">
            <form method="post" action="/bonuses/<%= x.id %>">
              <input type="hidden" name="_method" value="delete">
              <button type="submit" class="btn btn-danger btn-xs">Delete</button>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
