<div class="page-header">
<h1>I tested Pluckeye</h1>
</div>
<form id="testings-form" action="/testings" method="post">
  <div class="form-group">
    <label data-toggle="tooltip" data-placement="right" title="Click add new user if this is your first time testing.">
      I,
      <select name="user" id="user-select">
      <% if params[:username] %>
         <option value="<%= params[:username] %>" selected="selected"><%= params[:username] %></option>
      <% end %>
        <% User.all.each do |x| %>
          <option value="<%= x.name %>"><%= x.name %></option>
        <% end %>
      </select>
      (or
      <button id="new-user-button" class="btn btn-default btn-sm" type="button" data-toggle="modal" data-target="#new-user-modal">
        + add new user
      </button>
      )
    </label>
  </div>
  <div class="form-group">
    <label data-toggle="tooltip" data-placement="right" title="What is the version?  The version is a numeric x.y.z value, and it is visible in multiple places: on the button where Pluckeye is downloaded, in the name of the downloaded file, on the Pluckeye settings page, and also as the output of `pluck version`.">
      tested Pluckeye version
      <select name="release">
        <% if params[:release] %>
          <option value="<%= params[:release] %>" selected="selected"><%= params[:release] %></option>
        <% end %>
        <% Release.all.sort { |a,b| b.to_s <=> a.to_s }.each do |x| %>
          <option value="<%= x.name %>"><%= x.name %></option>
        <% end %>
      </select>
    </label>
  </div>
  <div class="form-group">
    <label data-toggle="tooltip" data-placement="right" title="What is the operating system?  This page attempts to guess your operating system based on information available in the browser you are using.  It usually guesses correctly, but it may not always.  If this value looks wrong to you, use the contact link to report it, and if possible choose whatever is more accurate.">
      on
      <select name="system">
        <% System.all.each do |x| %>
          <option value="<%= x.name %>"><%= x.name %></option>
        <% end %>
      </select>
    </label>
  </div>
  <div class="form-group">
    <label data-toggle="tooltip" data-placement="right" title="Select all browsers that you used while testing Pluckeye.  At installation level 1, Pluckeye should only affect Firefox (or Iceweasel).  If you don't know what installation levels you tested, you only tested level 1.  If a browser you tested is not listed, please use the contact link to report it.">
      using
      <select name="browsers[]" multiple="multiple">
        <% Browser.all.each do |x| %>
          <option value="<%= x.name %>"><%= x.name %></option>
        <% end %>
      </select>
    </label>
  </div>
  <div class="form-group">
    <div class="radio">
      <label data-toggle="tooltip" data-placement="right" title="Choose this if Pluckeye behaved flawlessly as far as you could tell.">
        <input id="ok-radio" type="radio" name="ok" value="ok" checked="checked">
        and there were no problems :-)
      </label>
    </div>
    <div class="radio">
      <label data-toggle="tooltip" data-placement="right" title="Choose this if you think you encountered a bug or problem in your testing.">
        <input id="no-radio" type="radio" name="ok" value="no">
        and  <big><strong>there were problems !!</strong></big>
      </label>
    </div>
  </div>
  <div id="additional-notes-div" class="form-group">
    <label>
      Additional notes
      <textarea name="notes" title="Additional notes" cols="30" rows="4"></textarea>
    </label>
  </div>
  <input type="submit" class="btn btn-default btn-primary" value="Send">
</form>
<%= erb :_new_user_modal %>
