<% if params[:thankyou] %><h2>Thank you!</h2><% end %>
<div class="panel panel-default">
  <div class="panel-heading">Testings</div>
  <table>
    <tr>
      <th>Date</th>
      <th>Release</th>
      <th>System</th>
      <th>Browsers</th>
      <th>Ok</th>
      <th>User</th>
      <th>Notes</th>
    </tr>
    <% @testings.each do |x| %>
      <tr>
        <td><%= x.date %></td>
        <td><%= x.release %></td>
        <td><%= x.system %></td>
        <td><%= x.browsers.join(" ") %></td>
        <td><%= x.ok %></td>
        <td><%= x.user %></td>
        <td><%= x.notes %></td>
      </tr>
    <% end %>
  </table>
</div>
