<% if params[:thankyou] %><h2>Thank you!</h2><% end %>
<div class="page-header">
  <h1>Testings</h1>
</div>
<div class="row">
  <table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Release</th>
      <th>System</th>
      <th>Browsers</th>
      <th>Ok</th>
      <th>User</th>
      <th>Notes</th>
    </tr>
    </thead>
    <tbody>
    <% @testings.each do |x| %>
      <tr class="<%= ((x.id == params[:highlight].to_i) ? 'alert alert-success' : '') %>">
        <td><%= x.date %></td>
        <td><%= x.release %></td>
        <td><%= x.system %></td>
        <td><%= x.browsers.join(" ") %></td>
        <td><%= checkmark(x.ok) %></td>
        <td><%= link_to(x.user) %></td>
        <td><%= x.notes %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
