<h2><%= @user %> <small>(<%= rank(@user.points) %>)</small></h2>
<ul class="list-group">
  <li><a href="/testings?user=<%= @user.id %>">testings</a></li>
  <li>
    <a href="/bonuses?user=<%= @user.id %>">bonuses</a>
    <% if maybe_admin? %>
      <a href="/bonuses/new" class="btn btn-default btn-xs pull-right"><%= plus %> add bonus</a>
    <% end %>
  </li>
</ul>
